@charset "UTF-8";

//font相关
//------------------------------------------------
$font-family: PingFang-SC-Bold, PingFang-SC;
$font-family-din: DINAlternate;
$font-family-din-bold: DINAlternate-Bold, DINAlternate;
//字体图标
$font-family-Ionicons: Ionicons;

//品牌色 一般用于logo、按钮
//-----------------------------------------------------
$logoColor1: #FC6047;
$logoColor2: #F54E34;
$logoColor3: #FC6047;
$logoColor4: #f1573e;
$logoColor5: #FD7753;

//基本颜色
//-----------------------------------------------------
$fillBody: #f5f7f9;
$black: #000;
$white: #ffffff; //白色
$orange: #FC6047; //金额数字、说明、标签
$blue: #659ee5; //链接文字、标签
$green: #3fb17f; //负值文字色值
$yellow: #fdfcec; //小黄条提示背景
$gray: #ccc; //输入框占位符颜色
$grayDark: #999999; //小文本灰色
$lightGrayDark: #666666; //小文本灰色
$fontCol: #434343; //正文文字颜色
$fontColDark: #333333; //正文文字颜色
$bodyBgColor: #f7f6f9; //页面背景色
$borderCol: #f5f5f5; //常用边框颜色
$lightBorderCol: #dddddd; //分割线色、不可点击按钮
$buttonActive:#ed3901;
$lightOrange: #fcf4f0;
$lightOrange1: #fd9253;

//$placeholder
$placeholder: $gray;

//link
$link: $blue;

//textColor
$textColor: $fontCol;

//z-index
//-----------------------------------------------------
$z-indexHigh: 99999;
$z-indexLow: 10;

// 饼图颜色顺序
//-----------------------------------------------------
$pieColor0: #FF7777;
$pieColor1: #83B1FD;
$pieColor2: #FFAD0E;
$pieColor3: #FF8237;
$pieColor4: #847BFF;
$pieColor5: #EE7E7A;
$pieColor6: #8BB0F7;















